/bin
/jbb
/work
/complete.zip
/jbb.h2.db
/jbbcolors.inc.old
/jBrickBuilder.prefs
/ldrconn.zip
/jbb.trace.db
/JBrickBuilder-0.log
/JBrickBuilder-1.log
/JBrickBuilder-2.log
/*.1
/*.log
/jbbheader.inc
/jbbprimitives.inc
/release-steps.txt
/.settings/
/cc.pov
/p.sh
/prim-3.txt
/prim-4.txt
/prim-5.txt
/prim-cone.txt
/prim-ring.txt
/prim.txt
/test.png
/test.pov
/lego.png
/graphic
